{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    <!-- Card -->
    <div class="card">
      <!-- Chard Header -->
      <div class="card-header bg-primary text-white">
	{{form.FORM_TITLE}}
      </div>
      <!-- End Card Header -->

      <!-- Card Body -->
      <div class="card-body bg-light">
	<form action="{{url}}" method="POST">
	  
	  {% csrf_token %}
	  
	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group">
		<label for="id_complainant_name">Denunciante</label>
		{{form.complainant_name}}
	      </div>
	    </div>
	  </div>
	
	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group">
		<label for="id_place_event">Lugar del acontecimiento</label>
		{{form.place_event}}
	      </div>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-md-4">
	      <div class="form-group">
		<label for="id_event_date">Fecha</label>
		{{form.event_date}}
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="form-group">
		<label for="id_event_time">Hora</label>
		{{form.event_time}}
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="form-group">
		<label for="id_license_plate">Placa</label>
		{{form.license_plate}}
	      </div>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group">
		<label for="id_description">Descripcion</label>
		{{form.description}}
	      </div>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class ="col-md-3">	      
	      <button class="btn btn-primary" type="submit">Realizar denuncia</button>
	    </div>
	  </div>

	</form>
      </div>
      <!-- End Card-Body -->
    </div>
    <!-- End Card -->
  </div>
</div>

{% endblock %}
{% block own_js%}
<script type="text/javascript" src="{% static 'complaint/complaint.js' %}"></script>
{% endblock %}
