{% extends 'index.html' %}
{% load static %}
{% block content %}

{% for denun in denuncias %}
  <div class="row">

    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
  	<h5 class="card-title">  {{denun}} </h5>
    <p class="card-text">Fecha: {{denun.event_date}} a las: {{denun.event_time}}</p>
  	<p class="card-text">Lugar: {{denun.place_event}}</p>
    <p class="card-text">Ranking: {{denun.ranking}}</p>
  	<a href="#" class="btn btn-primary">DETALLES</a>
        </div>
      </div>
    </div>

  </div>
{% endfor %}


{% endblock %}

{% block own_js %}
{% endblock %}
